<a href="https://colab.research.google.com/github/yashjain-99/Projects/blob/main/CarPricePred2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Previous Notebook Link: https://colab.research.google.com/drive/1IjFyWSc1racVJy6AumbovBYBES5r36RZ?usp=sharing

Model Developemnet

In [1]:
import pandas as pd
Training=pd.read_csv('/content/final_train.csv')
Testing=pd.read_csv('/content/final_test.csv')

In [ ]:
Training.head()

       Price  Year  Kilometers_Driven  ...  Seats_8.0  Seats_9.0  Seats_10.0
0   175000.0  2010              72000  ...          0          0           0
1  1250000.0  2015              41000  ...          0          0           0
2   450000.0  2011              46000  ...          0          0           0
3   600000.0  2012              87000  ...          0          0           0
4  1774000.0  2013              40670  ...          0          0           0

[5 rows x 35 columns]

In [ ]:
Training.shape

(5872, 35)

In [ ]:
Testing.head()

   Year  Kilometers_Driven  Mileage  ...  Seats_7.0  Seats_8.0  Seats_10.0
0  2014              40929    32.26  ...          0          0           0
1  2013              54493    24.70  ...          0          0           0
2  2017              34000    13.68  ...          1          0           0
3  2014              29000    18.50  ...          0          0           0
4  2016              85609    16.00  ...          1          0           0

[5 rows x 33 columns]

In [ ]:
Testing.shape

(1201, 33)

In [50]:
train_dataset = Training.sample(frac=0.8, random_state=0)
test_dataset = Training.drop(train_dataset.index)

In [51]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('Price')
test_labels = test_features.pop('Price')

In [4]:
train_features.head()

      Year  Kilometers_Driven  Mileage  ...  Seats_8.0  Seats_9.0  Seats_10.0
5504  2006             155000    15.40  ...          0          0           0
3410  2017              41290    16.00  ...          0          0           0
4365  2008              75000    17.70  ...          0          0           0
965   2015              11000    15.50  ...          0          0           0
3916  2009              32000    14.28  ...          0          0           0

[5 rows x 34 columns]

In [ ]:
train_features.to_csv('/content/train_features.csv', index=False)

In [ ]:
train_features.describe()

              Year  Kilometers_Driven  ...    Seats_9.0   Seats_10.0
count  4698.000000        4698.000000  ...  4698.000000  4698.000000
mean   2013.500000       57279.714772  ...     0.000639     0.000851
std       3.154205       38110.179727  ...     0.025265     0.029170
min    1998.000000         171.000000  ...     0.000000     0.000000
25%    2012.000000       33167.000000  ...     0.000000     0.000000
50%    2014.000000       52388.000000  ...     0.000000     0.000000
75%    2016.000000       72553.250000  ...     0.000000     0.000000
max    2019.000000      775000.000000  ...     1.000000     1.000000

[8 rows x 34 columns]

In [5]:
train_stats = train_features.describe()
train_stats = train_stats.transpose()
train_stats

                    count          mean  ...       75%        max
Year               4698.0   2013.500000  ...   2016.00    2019.00
Kilometers_Driven  4698.0  57279.714772  ...  72553.25  775000.00
Mileage            4698.0     18.325272  ...     21.10      33.54
Engine             4698.0   1629.783738  ...   1991.00    5461.00
Power              4698.0    113.367309  ...    138.10     560.00
CNG                4698.0      0.009579  ...      0.00       1.00
Diesel             4698.0      0.546190  ...      1.00       1.00
LPG                4698.0      0.001703  ...      0.00       1.00
Petrol             4698.0      0.442529  ...      1.00       1.00
Ahmedabad          4698.0      0.037676  ...      0.00       1.00
Bangalore          4698.0      0.056407  ...      0.00       1.00
Chennai            4698.0      0.079395  ...      0.00       1.00
Coimbatore         4698.0      0.107705  ...      0.00       1.00
Delhi              4698.0      0.092805  ...      0.00       1.00
Hyderabad          4698.0      0.124947  ...      0.00       1.00
Jaipur             4698.0      0.069817  ...      0.00       1.00
Kochi              4698.0      0.112175  ...      0.00       1.00
Kolkata            4698.0      0.086845  ...      0.00       1.00
Mumbai             4698.0      0.134312  ...      0.00       1.00
Pune               4698.0      0.097914  ...      0.00       1.00
Automatic          4698.0      0.285015  ...      1.00       1.00
Manual             4698.0      0.714985  ...      1.00       1.00
First              4698.0      0.822478  ...      1.00       1.00
Fourth & Above     4698.0      0.000639  ...      0.00       1.00
Second             4698.0      0.160281  ...      0.00       1.00
Third              4698.0      0.016603  ...      0.00       1.00
Seats_2.0          4698.0      0.002554  ...      0.00       1.00
Seats_4.0          4698.0      0.017667  ...      0.00       1.00
Seats_5.0          4698.0      0.835462  ...      1.00       1.00
Seats_6.0          4698.0      0.005321  ...      0.00       1.00
Seats_7.0          4698.0      0.115794  ...      0.00       1.00
Seats_8.0          4698.0      0.021711  ...      0.00       1.00
Seats_9.0          4698.0      0.000639  ...      0.00       1.00
Seats_10.0         4698.0      0.000851  ...      0.00       1.00

[34 rows x 8 columns]

In [49]:
def norm(x):
  return (x - train_stats['mean']) / train_stats['std']
  
normed_train_data = norm(train_features)
normed_test_data = norm(test_features)
normed_train_data.head()

          Year  Kilometers_Driven   Mileage  ...  Seats_8.0  Seats_9.0  Seats_10.0
5504 -2.377778           2.564152 -0.662826  ...  -0.148958  -0.025275   -0.029189
3410  1.109630          -0.419565 -0.526874  ...  -0.148958  -0.025275   -0.029189
4365 -1.743704           0.464975 -0.141678  ...  -0.148958  -0.025275   -0.029189
965   0.475556          -1.214366 -0.640167  ...  -0.148958  -0.025275   -0.029189
3916 -1.426667          -0.663332 -0.916602  ...  -0.148958  -0.025275   -0.029189

[5 rows x 34 columns]

In [ ]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='relu', input_shape=[len(train_features.keys())]),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
  ])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 256)               8960

 dense_10 (Dense)            (None, 256)               65792

 dense_11 (Dense)            (None, 256)               65792

 dense_12 (Dense)            (None, 128)               32896

 dense_13 (Dense)            (None, 128)               16512

 dense_14 (Dense)            (None, 128)               16512

 dense_15 (Dense)            (None, 64)                8256

 dense_16 (Dense)            (None, 64)                4160

 dense_17 (Dense)            (None, 1)                 65

=================================================================
Total params: 218,945
Trainable params: 218,945
Non-trainable params: 0
_________________________________________________________________

In [ ]:
optimizer = tf.keras.optimizers.RMSprop(0.001)
model.compile(loss='mse',
                optimizer=optimizer,
                metrics=['mae', 'mse'])

In [ ]:
!pip install -q git+https://github.com/tensorflow/docs

  Building wheel for tensorflow-docs (setup.py) ... done

In [ ]:
import tensorflow_docs as tfdocs
import tensorflow_docs.modeling 
EPOCHS = 3000

history = model.fit(
  normed_train_data, train_labels,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,
  callbacks=[tfdocs.modeling.EpochDots()])

Epoch: 0, loss:1408497792.0000,  mae:18739.0430,  mse:1408497792.0000,  val_loss:218479788032.0000,  val_mae:188008.3438,  val_mse:218479788032.0000,
....................................................................................................
Epoch: 100, loss:1782428032.0000,  mae:19982.4395,  mse:1782428032.0000,  val_loss:231578173440.0000,  val_mae:188764.0625,  val_mse:231578173440.0000,
....................................................................................................
Epoch: 200, loss:1434443136.0000,  mae:19053.3789,  mse:1434443136.0000,  val_loss:229890998272.0000,  val_mae:189365.6719,  val_mse:229890998272.0000,
....................................................................................................
Epoch: 300, loss:1373055360.0000,  mae:19037.9141,  mse:1373055360.0000,  val_loss:236172345344.0000,  val_mae:191040.5781,  val_mse:236172345344.0000,
....................................................................................................
Epoch: 400, loss:1360479872.0000,  mae:18074.6367,  mse:1360479872.0000,  val_loss:214702882816.0000,  val_mae:187268.0469,  val_mse:214702882816.0000,
....................................................................................................
Epoch: 500, loss:1373177856.0000,  mae:18206.3711,  mse:1373177856.0000,  val_loss:225185873920.0000,  val_mae:187176.8750,  val_mse:225185873920.0000,
....................................................................................................
Epoch: 600, loss:1566016640.0000,  mae:18863.6719,  mse:1566016640.0000,  val_loss:226473820160.0000,  val_mae:187801.7500,  val_mse:226473820160.0000,
....................................................................................................
Epoch: 700, loss:1258840704.0000,  mae:17389.9160,  mse:1258840704.0000,  val_loss:225691303936.0000,  val_mae:188554.2344,  val_mse:225691303936.0000,
....................................................................................................
Epoch: 800, loss:1193779968.0000,  mae:17141.1660,  mse:1193779968.0000,  val_loss:211827998720.0000,  val_mae:184778.8125,  val_mse:211827998720.0000,
....................................................................................................
Epoch: 900, loss:1555627648.0000,  mae:16874.6641,  mse:1555627648.0000,  val_loss:227760963584.0000,  val_mae:186550.7500,  val_mse:227760963584.0000,
....................................................................................................
Epoch: 1000, loss:1099557376.0000,  mae:16526.4980,  mse:1099557376.0000,  val_loss:270334918656.0000,  val_mae:204897.0312,  val_mse:270334918656.0000,
....................................................................................................
Epoch: 1100, loss:1014750400.0000,  mae:16324.8857,  mse:1014750400.0000,  val_loss:215773790208.0000,  val_mae:185945.8438,  val_mse:215773790208.0000,
....................................................................................................
Epoch: 1200, loss:1280897024.0000,  mae:17021.9062,  mse:1280897024.0000,  val_loss:220770025472.0000,  val_mae:186482.3125,  val_mse:220770025472.0000,
....................................................................................................
Epoch: 1300, loss:1086818816.0000,  mae:16615.4648,  mse:1086818816.0000,  val_loss:229422202880.0000,  val_mae:186993.7969,  val_mse:229422202880.0000,
....................................................................................................
Epoch: 1400, loss:1050214592.0000,  mae:16567.9375,  mse:1050214592.0000,  val_loss:221748936704.0000,  val_mae:185836.7969,  val_mse:221748936704.0000,
....................................................................................................
Epoch: 1500, loss:923667200.0000,  mae:15654.3096,  mse:923667200.0000,  val_loss:229693046784.0000,  val_mae:185235.2344,  val_mse:229693046784.0000,
....................................................................................................
Epoch: 1600, loss:1192986368.0000,  mae:15920.4258,  mse:1192986368.0000,  val_loss:229105795072.0000,  val_mae:187025.0312,  val_mse:229105795072.0000,
....................................................................................................
Epoch: 1700, loss:1199391872.0000,  mae:16471.0020,  mse:1199391872.0000,  val_loss:216121868288.0000,  val_mae:183858.7188,  val_mse:216121868288.0000,
....................................................................................................
Epoch: 1800, loss:904059520.0000,  mae:15729.8096,  mse:904059520.0000,  val_loss:219397324800.0000,  val_mae:185941.9375,  val_mse:219397324800.0000,
....................................................................................................
Epoch: 1900, loss:994221568.0000,  mae:15279.3779,  mse:994221568.0000,  val_loss:223154405376.0000,  val_mae:185124.2656,  val_mse:223154405376.0000,
....................................................................................................
Epoch: 2000, loss:855730368.0000,  mae:15394.3555,  mse:855730368.0000,  val_loss:236625346560.0000,  val_mae:188441.9375,  val_mse:236625346560.0000,
....................................................................................................
Epoch: 2100, loss:1024103104.0000,  mae:15184.7119,  mse:1024103104.0000,  val_loss:226094317568.0000,  val_mae:183542.8906,  val_mse:226094317568.0000,
....................................................................................................
Epoch: 2200, loss:1149853952.0000,  mae:15592.9307,  mse:1149853952.0000,  val_loss:221011509248.0000,  val_mae:184411.3750,  val_mse:221011509248.0000,
....................................................................................................
Epoch: 2300, loss:913131008.0000,  mae:15379.4365,  mse:913131008.0000,  val_loss:237037862912.0000,  val_mae:188813.8750,  val_mse:237037862912.0000,
....................................................................................................
Epoch: 2400, loss:1049584192.0000,  mae:15130.7295,  mse:1049584192.0000,  val_loss:239932653568.0000,  val_mae:187293.4062,  val_mse:239932653568.0000,
....................................................................................................
Epoch: 2500, loss:967755200.0000,  mae:15003.5645,  mse:967755200.0000,  val_loss:207397027840.0000,  val_mae:181439.0781,  val_mse:207397027840.0000,
....................................................................................................
Epoch: 2600, loss:900477888.0000,  mae:14402.8574,  mse:900477888.0000,  val_loss:228828561408.0000,  val_mae:188354.7031,  val_mse:228828561408.0000,
....................................................................................................
Epoch: 2700, loss:863908480.0000,  mae:14756.9414,  mse:863908480.0000,  val_loss:221976739840.0000,  val_mae:183424.0312,  val_mse:221976739840.0000,
....................................................................................................
Epoch: 2800, loss:839294592.0000,  mae:14488.1943,  mse:839294592.0000,  val_loss:227664494592.0000,  val_mae:185886.5312,  val_mse:227664494592.0000,
....................................................................................................
Epoch: 2900, loss:818866688.0000,  mae:13923.8984,  mse:818866688.0000,  val_loss:224890126336.0000,  val_mae:183011.5000,  val_mse:224890126336.0000,
....................................................................................................

In [ ]:
example_batch = normed_test_data[6:7]
print(example_batch)
print(test_labels[6:7])

        Year  Kilometers_Driven   Mileage  ...  Seats_8.0  Seats_9.0  Seats_10.0
35 -1.426667           0.696304 -0.980046  ...  -0.148958  -0.025275   -0.029189

[1 rows x 34 columns]
35    185000.0
Name: Price, dtype: float64

In [ ]:
normed_test_data[6:7]

        Year  Kilometers_Driven   Mileage  ...  Seats_8.0  Seats_9.0  Seats_10.0
35 -1.426667           0.696304 -0.980046  ...  -0.148958  -0.025275   -0.029189

[1 rows x 34 columns]

In [ ]:
example_result = model.predict(example_batch)
print(example_result)

[[163945.52]]

In [ ]:
model.save('/content/drive/MyDrive/Colab Notebooks/CarPricePredMode2.h5')

In [7]:
from tensorflow import keras
model = keras.models.load_model('/content/CarPricePredMode2.h5')

In [8]:
normed_test_data.head()

        Year  Kilometers_Driven   Mileage  ...  Seats_8.0  Seats_9.0  Seats_10.0
0  -1.109630           0.386256  1.874937  ...  -0.148958  -0.025275   -0.029189
7   0.792593          -0.558374 -1.578233  ...   6.711873  -0.025275   -0.029189
21  0.475556          -0.049533  1.206509  ...  -0.148958  -0.025275   -0.029189
24 -1.109630          -0.637093 -0.889412  ...  -0.148958  -0.025275   -0.029189
25 -0.475556          -0.140637 -0.345605  ...  -0.148958  -0.025275   -0.029189

[5 rows x 34 columns]

In [52]:
test_labels.head()

0      175000.0
7     1750000.0
21     825000.0
24     285000.0
25     425000.0
Name: Price, dtype: float64

In [54]:
test_labels_df=pd.DataFrame(test_labels)

In [64]:
test_labels_df.head()

       Price
0   175000.0
1  1750000.0
2   825000.0
3   285000.0
4   425000.0

In [60]:
test_labels_df.reset_index(inplace=True)

In [63]:
test_labels_df.drop(['index'], inplace=True, axis=1)

In [13]:
predicted_data=model.predict(normed_test_data)

In [22]:
predicted_data

array([[ 184106.14],
       [1631799.  ],
       [ 676018.2 ],
       ...,
       [1894254.8 ],
       [1127976.  ],
       [1103984.1 ]], dtype=float32)

In [23]:
predicted_data_df=pd.DataFrame(predicted_data, dtype='float32', columns = ['Predicted Values'])

In [24]:
predicted_data_df.head()

   Predicted Values
0      1.841061e+05
1      1.631799e+06
2      6.760182e+05
3      4.183800e+05
4      3.888882e+05

In [31]:
predicted_data_df['Predicted Values']=predicted_data_df['Predicted Values'].round(decimals = 0)

In [32]:
predicted_data_df.head()

   Predicted Values
0          184106.0
1         1631799.0
2          676018.0
3          418380.0
4          388888.0

In [65]:
Diff_df=pd.concat([test_labels_df,predicted_data_df], axis=1)

In [67]:
Diff_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             1174 non-null   float64
 1   Predicted Values  1174 non-null   float32
dtypes: float32(1), float64(1)
memory usage: 13.9 KB

In [70]:
Diff_df['Difference']=abs(Diff_df['Price']-Diff_df['Predicted Values'])

In [71]:
Diff_df

          Price  Predicted Values  Difference
0      175000.0          184106.0      9106.0
1     1750000.0         1631799.0    118201.0
2      825000.0          676018.0    148982.0
3      285000.0          418380.0    133380.0
4      425000.0          388888.0     36112.0
...         ...               ...         ...
1169   400000.0          466990.0     66990.0
1170   220000.0          188525.0     31475.0
1171  1975000.0         1894255.0     80745.0
1172   948000.0         1127976.0    179976.0
1173   290000.0         1103984.0    813984.0

[1174 rows x 3 columns]

In [72]:
Diff_df.describe()

              Price  Predicted Values    Difference
count  1.174000e+03      1.174000e+03  1.174000e+03
mean   9.202709e+05      9.220326e+05  2.054705e+05
std    1.046392e+06      1.051816e+06  3.853258e+05
min    4.500000e+04      4.021400e+04  4.300000e+01
25%    3.627500e+05      3.701855e+05  3.415925e+04
50%    5.545000e+05      5.703435e+05  8.512450e+04
75%    9.900000e+05      1.056477e+06  1.992037e+05
max    8.500000e+06      1.151423e+07  4.038028e+06